
@model Player
@{
    ViewData["Title"] = "Cadastrar";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>About</title>
</head>


    <div class="nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Index", "CadastroPokemon")">Página inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cadastrar</a>
            </li>
        </ul>
    </div>

    <h1>Cadastrar</h1>

    <form asp-action="Cadastrar" asp-controller="CadastroPokemon" method="post">
        <fieldset>
            <legend> Cadastro de Pokémon favorito </legend>
            @*<div class="form-group">
                    <label>Pesquisar Pokémon</label>
                    <input class="form-group" type="text" id="pesquisaPokemon" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info" onclick="BuscarPokemon()"> Buscar </button>
                </div>*@
            <div>
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-group" type="text" id="nome" asp-for="Nome" />
                </div>
                <div>
                    <label>Email</label>
                    <input class="form-group" type="text" id="email" asp-for="Email" />
                </div>
                <div>
                    <label>Idade</label>
                    <input class="form-group" type="text" id="idade" asp-for="Idade" />
                </div>
                <div>
                    <label>nomePokemon</label>
                    <input class="form-group" type="text" id="nomePokemonPreferido" asp-for="NomePokemonPreferido" readonly />
                </div>
                <div>
                    <label>Numero na Pokedex</label>
                    <input class="form-group" type="text" id="numeroPokemonPreferido" asp-for="NumeroPokemon" readonly />
                </div>
                <div>
                    <label>Imagem </label>
                    <input class="form-group" type="text" id="urlImgPokemonPreferido" asp-for="UrlFotoPokemon" readonly />
                </div>
            </div>
            <input class="btn btn-success" type="submit" value="Cadastrar" />
        </fieldset>
    </form>
